/* .cart-item-card {
    border: 1px solid #e0e0e0;
    padding: 2px;
    border-radius: 1px;
  }
  
  .product-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .product-details {
    padding-left: 20px;
  }
  
  .size-input, .quantity-select {
    width: 80px;
  }
  
  .price-and-actions {
    display: flex;
    flex-direction: column;
 
    text-align: right;
  }
  
  .price-and-actions h4 {
    margin-bottom: 0;
  }
  
  */